/*
	file for general styles
*/

body {
	font-size: 15px;
	font-family: "bariol_regular", "Helvetica", "Arial", sans-serif;
	line-height: 125%;
	color: #34495E;
	margin: 0;
	padding: 0;
	background-color: white;
	min-width: 960px;
}

a { color: #2980B9;}
a:hover { color: #fcd728; }

h1 {
	color: #fcd728;
	font-size: 39px;
}

	h1 small {
		font-size: 18px;
		color: #34495E;
	}

	h1 small .question_mark {
		font-size: 15px;
		padding: 2px 6px;
		border-radius: 24px;
		vertical-align: baseline;
	}

h2 { font-size: 28px; }

table { width: 100%; }

	table th.sorting,
	table th.sorting_desc,
	table th.sorting_asc { cursor: pointer; }

thead {
	background-color: #34495E;
	color: #ECF0F1;
}

	thead th { font-size: 15px; }

		thead th a { text-decoration: none; }

		thead th a,
		thead th a:hover { color: white !important; }

	.table th {
		font-weight: normal;
		text-align: center;
	}

	.table td {
		border-bottom: solid 1px #dcdfe0;
		border-top: none;
	}

	thead .tooltip.bottom .tooltip-arrow,
	thead .tooltip.top .tooltip-arrow {
		border-bottom-color: #fcd728;
	}

	thead .tooltip.bottom .tooltip-inner,
	thead .tooltip.top .tooltip-inner {
		background-color: #fcd728;
		color: #34495E;
	}

.table.container {
	display: block;
	overflow: hidden;
}

.container { width: auto; }

header,
footer,
.page {
	background-color: transparent;
}

	footer a { font-weight: normal; }

	header.page_header .questions,
	footer.page_footer .bottom.navigation {
		font-size: 14px;
		font-family: "lato_light", sans-serif;
		text-transform: uppercase;
	}

	footer.page_footer .bottom.navigation  {
		text-align: center;
	}

		header.page_header .questions .question,
		footer.page_footer .bottom.navigation a {
			display: inline-block;
			overflow: hidden;
			vertical-align: middle;
			margin: 5px 10px;
		}

		footer.page_footer .bottom.navigation .social { margin: 5px; }

			footer.page_footer .bottom.navigation .social .icon { width: 24px; height: 24px; }

	footer.page_footer .copyright {
		display: block;
		overflow: hidden;
		font-size: 12px;
		color: #BDC3C7;
		text-align: center;
	}

.logo.sunible {
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	text-decoration: none;
	margin-top: 20px;
}

	.logo.sunible img {
		border: none;
		width: 150px;
		height: 100px;
	}

.tooltip {
	font-family: "Lato", sans-serif;
	text-transform: none;
	font-weight: normal;
}

.tooltip.bottom.in {
	margin-top: 3px;
	-webkit-transition: margin-top 0.15s linear;
	-moz-transition: margin-top 0.15s linear;
	-o-transition: margin-top 0.15s linear;
	transition: margin-top 0.15s linear;
}


.block {
	display: block;
	overflow: hidden;
	background-color: #ecf0f1;
	border-radius: 6px;
	padding: 15px;
}

.counter,
.question_mark {
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
}

.counter {
	background-color: #fcd728;
	padding: 1px 2px;
	border-radius: 11px;
	min-width: 17px;
	color: white;
	text-align: center;
}

.question_mark {
	background-color: #ecf0f1;
	padding: 1px 4px;
	border-radius: 11px;
	color: #34495E;
	font-size: 11px;
	line-height: 100%;
	cursor: default;
	-webkit-backface-visibility: hidden;
}

.question_mark.dark {
	background-color: #34495E;
	color: #ecf0f1;
}

.question_mark.light {
	background-color: #ecf0f1;
	color: #34495E;
}

.question_mark:hover {
	background-color: #fcd728;
	color: white;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
}

.leaflet-container a.leaflet-popup-close-button {
	padding: 8px 8px 0 0;
}

.marker_popup {
	/*padding-top: 25px;
	background: transparent url('../images/marker_logo.png') 50% 0 no-repeat;*/
	font-size: 12px;
	text-align: center;
}

.marker_popup .zip, 
.marker_popup .installers  {
	display: block;
	overflow: hidden;
	text-align: center;
}

	.marker_popup .zip .value {
		margin-left: 5px;
		font-weight: bold;
	}

.marker_popup .installers {
	margin-top: 5px;
	font-size: 16px;
}

.rating_stars {
	font-size: 0px;
	font-family: "websymbols_regular";
	letter-spacing: -9999px;
	line-height: 0px;
}

.rating_stars.no-rating {
	font-family: 'bariol_regular', sans-serif;
}

.rating_stars.no-rating:before {
	font-size: 16px;
	content: 'No ratings';
	letter-spacing: 0px;
}

.rating_stars.has-1:before   { content: 'R';     }
.rating_stars.has-1_5:before { content: 'RА';    }
.rating_stars.has-2:before   { content: 'RR';    }
.rating_stars.has-2_5:before { content: 'RRА';   }
.rating_stars.has-3:before   { content: 'RRR';   }
.rating_stars.has-3_5:before { content: 'RRRА';  }
.rating_stars.has-4:before   { content: 'RRRR';  }
.rating_stars.has-4_5:before { content: 'RRRRА'; }
.rating_stars.has-5:before   { content: 'RRRRR'; }

.dataTables_wrapper {
	position: static;
	clear: both;
}

.dataTables_wrapper .grid_table_wrapper {
	display: block;
	overflow: hidden;
	clear: both;
	border-radius: 6px; 
}

.dataTables_scrollHeadInner {
	background-color: #34495e;
	/*padding-right: 17px !important;*/
}

.dataTables_scroll:before,
.dataTables_scroll:after/*,
.dataTables_wrapper.stretched_vertically:before,
.dataTables_wrapper.stretched_vertically:after */{
	content: "";
	display: block;
	overflow: hidden;
	height: 6px;
	background-color: #34495E;
}

.dataTables_scroll:before/*,
.dataTables_wrapper.stretched_vertically:before*/ {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.dataTables_scroll:after/*,
.dataTables_wrapper.stretched_vertically:after */{
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.dataTables_wrapper .grid_table_wrapper:after {
	content: "";
	display: block;
	overflow: hidden;
	height: 6px;
	background-color: #34495E;
}

.dataTables_wrapper.stretched_vertically .dataTables_scrollBody.nano .content {
	height: auto !important;
	width: auto !important;
}

.dataTables_scrollHead { position: static !important;}

.dataTables_scrollHeadInner { width: auto !important; }

.dataTables_wrapper.stretched_vertically.nano_used .dataTables_scrollHeadInner {
	padding-right: 0px !important;
}

	.dataTables_scrollHeadInner .dataTable { width: 100% !important;}


.dataTables_info {
	float: left;
	padding: 4px 0px 5px 0px;
}

.dataTables_paginate {
	float: right;
	margin-right: 10px;
}


	.dataTables_paginate .paginate_enabled_previous,
	.dataTables_paginate .paginate_disabled_previous,
	.dataTables_paginate .paginate_enabled_next,
	.dataTables_paginate .paginate_disabled_next,
	.dataTables_paginate .paginate_button,
	.dataTables_paginate .paginate_active {
		display: inline-block;
		border: none;
		background: #ECF0F1;
		text-decoration: none;
		text-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		-webkit-transition: 0.25s;
		-moz-transition: 0.25s;
		-o-transition: 0.25s;
		transition: 0.25s;
		-webkit-backface-visibility: hidden;
		padding: 4px 12px 5px 12px;
		vertical-align: middle;
	}

		.dataTables_paginate.paging_two_button .paginate_enabled_previous,
		.dataTables_paginate.paging_two_button .paginate_disabled_previous,
		.dataTables_paginate.paging_full_numbers .first.paginate_button {
			border-bottom-left-radius: 6px;
		}

		.dataTables_paginate.paging_two_button .paginate_enabled_next,
		.dataTables_paginate.paging_two_button .paginate_disabled_next,
		.dataTables_paginate.paging_full_numbers .last.paginate_button {
			border-bottom-right-radius: 6px;
		}

	.dataTables_paginate .paginate_enabled_previous:before,
	.dataTables_paginate .paginate_disabled_previous:before,
	.dataTables_paginate .paginate_enabled_next:after,
	.dataTables_paginate .paginate_disabled_next:after,
	.dataTables_paginate .first.paginate_button:before,
	.dataTables_paginate .last.paginate_button:after {
		font-family: "websymbols_regular";
		display: inline-block;
		overflow: hidden;
		vertical-align: middle;
		line-height: 100%;
		font-size: 11px;
	}
	
	.dataTables_paginate .paginate_enabled_next:after,
	.dataTables_paginate .paginate_disabled_next:after,
	.dataTables_paginate .next.paginate_button:after {
		content: '>';
		margin-left: 6px;
	}

	.dataTables_paginate .paginate_enabled_previous:before,
	.dataTables_paginate .paginate_disabled_previous:before,
	.dataTables_paginate .previous.paginate_button:before {
		content: "<";
		margin-right: 6px;
	}
	
	.dataTables_paginate .first.paginate_button:before {
		content: '<<';
		margin-right: 6px;
		font-size: 9px;
	}

	.dataTables_paginate .last.paginate_button:after {
		content: '>>';
		margin-left: 6px;
		font-size: 9px;
	}

	.dataTables_paginate .paginate_enabled_previous:hover,
	.dataTables_paginate .paginate_enabled_next:hover,
	.dataTables_paginate .paginate_button:hover,
	.dataTables_paginate .paginate_active {
		color: white;
		background-color: #fcd728;
		-webkit-transition: 0.25s;
		-moz-transition: 0.25s;
		-o-transition: 0.25s;
		transition: 0.25s;
		-webkit-backface-visibility: hidden;
	}

	.dataTables_paginate .paginate_disabled_previous,
	.dataTables_paginate .paginate_disabled_next,
	.dataTables_paginate .paginate_disabled_previous:hover,
	.dataTables_paginate .paginate_disabled_next:hover,
	.dataTables_paginate .paginate_button_disabled,
	.dataTables_paginate .paginate_button_disabled:hover {
		background-color: #ECF0F1;
		cursor: default;
		color: #ddd;
	} 

.dataTable th.sorting_asc  .text:after,
.dataTable th.sorting_desc .text:after  {
	display: inline;
	overflow: hidden;
	margin-left: 4px;
	font-family: "websymbols_regular";
}

.dataTable th.sorting_asc  .text:after {
	content: "{";
}

.dataTable th.sorting_desc .text:after {
	content: "}";
}

.dataTable td.sorting_1 { background-color: #ECF0F1; }

.dataTable tr.selected { background-color: #fceec3; }
.dataTable tr.selected td.sorting_1 { background-color: #F5E1A6; }

.dataTables_scrollBody thead { display: none;}

.modal {
	border: none;
}

	.modal .close {
		background-color: #FCD728;
		border-radius: 16px 16px 16px 16px;
		color: white;
		float: none;
		font-family: Arial;
		font-size: 30px;
		height: auto;
		line-height: 100%;
		margin-left: -15px;
		margin-top: -15px;
		opacity: 1;
		padding: 0 6px;
		position: absolute;
		text-transform: uppercase;
		z-index: 1051;
	}

	.modal h1 {
		font-size: 24px;
		color: #34495E;
	}

	.modal-backdrop,
	.modal-backdrop.fade.in {
		background-color: #BDC3C7;
	}

		.modal .nano .content { padding-right: 12px; }