/*
	IE 9 styles
*/

.sunible.logo { display: inline; }
.field.error { border-color: #E74C3C; }
.validation.message label { margin-top: -2px; }

.page_header .overlay_beta .text { -ms-transform: rotate(-45deg); }

.sunible.logo img { margin-top: 20px; }

.page.social_proof .social_info_by_zip .solar_info { margin-top: -150px; }
	.social_proof.page .social_info_by_zip .solar_info p { font-size: 22px; }

.page.dashboard .providers.container .providers.list.grid .yelp_review_count { margin-top: 20px; }

.modal .close, 
.modal .close:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.page.thank_you h1 {
	margin-bottom: 0;
	line-height: 20px;
	padding-bottom: 10px;
}

.page.thank_you_reg h1 {
	margin-bottom: 0;
	line-height: 20px;
	padding-bottom: 10px;
}