/*
	styles for layout
*/

html,
body {
	height: 100%;
	min-height: 450px;
}

.pages {
	display: block;
	overflow: hidden;
	position: relative;
	min-width: 960px;
	min-height: 100%;
	height: auto !important;
	/*padding-bottom: 60px;*/
}

footer.page_footer {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 6;
	width: 100%;
	display: block;
	overflow: hidden;
	height: 60px;
}

header.page_header,
.page {
	display: block;
	margin: 0 5%;
}

.page {
	padding-top: 10px;
	padding-bottom: 60px;
	overflow: visible;
}

header.page_header{
	overflow: hidden;
	padding-top: 10px;
}

header.page_header .questions {
	float: right;
	margin-left: 20px;
	margin-top: 24px;
}