@charset "utf-8";
.socialProofAlignCenter {
	text-align: center;
}
.socialproofaligncenterbig {
	text-align: center;
	font-size: 36px;
	color: #FFF;
}
.yellowdot {background-image:url('images/yellowdot.png');}